 body {
    background-color: lightgray;
 }
 header {
    margin: auto;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background: black;
  }
  
 .header__img {
    width: 250px;
    height: 200px;
    margin: 5px;
  }
  .header__leyenda {
    color:#3c2d8c
  }
 .header__leyenda--container {
    padding: 30px;
  }
section div div img{
    width: 100%;
    height: 400px;
}
section{
    padding: 10px;
}
#showAllProducts {
    display: flex;
    flex-direction: row;
    gap: 3em;
    flex-wrap: wrap;
    padding: 1em;
}
#showAllProducts div{
    border: solid 5px black;
    padding: 2px;
}
#cartList {
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#cartList img {
    width: 8em;
    height: auto;
    border: solid 3px black;
}

.showCart {
    display: flex;
    flex-direction: row;
}
.div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.div li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}
.footer {
    width: 100%;
    padding: 4px;
    font-size: 1.8rem;
    font-weight: bold;
    background: #212529;
    text-align: center;
  }
  
.footer ul li {
    padding-top: 10px;
    list-style: none;
    display: inline;
    font-weight: 900;
    margin: 10%;
  }