 body {
    background-color: black;
    color: white;
 }
 header {
	background: center url(./IMG/crazy\ drinks\ logo.jpg);
    	text-align: center;
	width: 100%;
	height: 500px;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
}
.header__leyenda{
    font-family: "Dank Mono", ui-monospace, monospace;
}
header h1{
  font-size: 80px;
 margin-bottom: 30px;
}
header h3{
    font-family: "Dank Mono", ui-monospace, monospace;
    font-size: 30px;
}
li a {
    font-family: "Dank Mono", ui-monospace, monospace;
}
section div div img{
    width: 100%;
    height: 100%;
}
section{
    padding: 10px;
}
#showAllProducts {
    display: flex;
    flex-direction: row;
    gap: 3em;
    flex-wrap: wrap;
    padding: 1em;
}
#showAllProducts div{
    display: grid;
    grid-template-rows:70% 12% 8% 10% ;
    border: solid 5px black;
    padding: 2px;
    width: 23%;
    text-align: center;
    align-items: center;
}
#showAllProducts div img{
    height: 400px;
}
    
#showAllProducts div h3{
    font-family: "Dank Mono", ui-monospace, monospace;
    margin: 0%;
    font-size: 1.5rem;
    background-clip: border-box;
    background: linear-gradient(
        to right, 
        hsl(98 100% 62%), 
        hsl(204 100% 59%)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
#showAllProducts div p{
    font-family: "Dank Mono", ui-monospace, monospace;
    font-size: 2.5rem;
    margin: 0%;
    color: #fff;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

#showAllProducts div button{
    grid-row: 4;
    display: flex;
    align-items: center;
    font-family: "Dank Mono", ui-monospace, monospace;
 width: 100%;
 height: 50%;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
  touch-action: manipulation;
 }
 #showAllProducts div button:before{ 
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
      );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    }
    
    @keyframes glowing-button-85 {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
    
#showAllProducts div button:after{
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
 }
#cartList {
    font-family: "Dank Mono", ui-monospace, monospace;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.titulosCarrito{
    display: grid;
    grid-template-columns: 15% 35% 23% 12% 15%; 
}
.titulosCarrito .liProducto{
    text-align: center;
    grid-column: 2;
}
.titulosCarrito .liPrecio{
    text-align: center;
    grid-column: 3;
}
.titulosCarrito .liCantidad{
    grid-column: 4;
}
    

#cartList img {
    width: 15%;
    height: auto;
}
#cartList .producto {
    width: 43%;;
}
#cartList #precio {
  width: 15%;
}
#cartList .itemcantidad{
    display: flex;
    justify-content: center;
    width: 12%;
}
#cartList .itemeliminar{
    display: flex;
    justify-content: center;
   width: 15%;
}
#cantidad {
    width: 50%;
}
.showCart {
    display: flex;
    flex-direction: row;
}
.divCart{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.divCart li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    width: auto;
}
.divCart li h3 {
    font-size: 1.2rem;
}
.buttonComprar{
    display: flex;
    justify-content: end;
    padding-right: 10%;
}

#comprar {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 25%;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
    #comprar {
    padding: 19px 32px;
  }
}

#comprar:before,
#comprar:after {
  border-radius: 80px;
}

#comprar:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

#comprar:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

#comprar:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

#comprar:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

#comprar:active:not(:disabled) {
  color: #ccc;
}

#comprar:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

#comprar:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

#comprar:disabled {
  cursor: default;
  opacity: .24;
}

.vaciarCarrito {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
      width: 70%;
      height: 50px;
      cursor: pointer;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #7f5a83;
      background-image: linear-gradient(315deg, #7f5a83 0%, #222 74%);
      background-size: 200% 100%;
      background-position: left;
      background-repeat: no-repeat;
      transition: 500ms;
  }
  

  .vaciarCarrito:before {
      content: 'Vaciar Carrito';
      color: rgba(255,255,255,0.5);
      font-size: 16px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48%;
      height: 40px;
      background-color: #1b2845;
      background-image: linear-gradient(315deg, #222 0%, #111 74%);
      transition: 500ms;
  }
  
  .vaciarCarrito:hover {
      background-position: right;
  }
  
  .vaciarCarrito:before {
      color: rgba(255,255,255,0.8);
  }
  
  .vaciarCarrito:focus {
      outline: none;
  }

.form-row{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 40%;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 20%;
    row-gap: 20px;
}
.CompleteDatos{
  text-align: center;
}
.metodos {
  display: flex;
  justify-content: flex-start;
}
.metodos input{
  margin-left: 30%;
}
.confirmbutton{
  display: flex;
  justify-content: center;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.col-3{
    width: 100%;
}
.footer {
    width: 100%;
    padding: 4px;
    font-size: 1.8rem;
    font-weight: bold;
    background: #0f1113;
    text-align: center;
  }
  
.footer ul li {
    padding-top: 10px;
    list-style: none;
    display: inline;
    font-weight: 900;
    margin: 10%;
  }